# cmake build directory
/build/
/build_linux/

# ide files
.vs
/.vscode/

# game assets and dumps
/files/

# save data
donut_save.dat
art/audio/*.rcf

# runtime-generated control bindings
keymap.conf
